<!DOCTYPE html>
<html>
  <head>
    <title>View Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
<div class = "container text-center">

<h1>View cars</h1>

    
  	<div>
  			<table class="table table-striped table-bordered">
  				<thead class="thead-dark">
  					<tr>
  					<th>ID</th>
  					<th>model</th>
  					<th>make</th>
  					<th>Problem Description</th>
  					
  					</tr>
  				
  				</thead>
  				<tbody>
  					
  					
  					
  					
  					<td th:text="${car{id}.id}"></td>
                    <td th:text="${car{id}.carModel}"></td>
                    <td th:text="${car{id}.make}"></td>
                    <td th:text="${car{id}.problemDescription}"></td>
  					
  					
  				
  				</tbody>
  			
  			</table>
  	</div>
    
    
    
    
    	 
    </div>
   
  </body>
</html>