<!DOCTYPE html>
<html>
  <head>
    <title>View Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
<div class = "container text-center">

<h1>View cars</h1>

    
  	<div>
  			<table class="table table-striped table-bordered">
  				<thead class="thead-dark">
  					<tr>
  					<th>ID</th>
  					<th>model</th>
  					<th>make</th>
  					<th>Problem Description</th>
  					
  					</tr>
  				
  				</thead>
  				<tbody>
  					<tr th:each="car: ${listCar}">
  					<td>
  					<a th:href="@{/tested}" th:text="${car.id}" target="_blank" />
  					</td>
  					<td>
  					<a th:href="@{/tested}" th:text="${car.carModel}" target="_blank" />
  					</td><td>
  					<a th:href="@{/tested}" th:text="${car.make}" target="_blank" />
  					</td><td>
  					<a th:href="@{/tested}" th:text="${car.problemDescription}" target="_blank" />
  					</td>
  					
  					</tr>
  				
  				</tbody>
  			
  			</table>
  	</div>
    
    
    
    
    	 
    </div>
   
  </body>
</html>